html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}
html,
body {
  background-color: light-dark(#efedea, #1a251f);
  margin: 0;
}
.bd {
  height: 100vh;
}
.prisitaikantisTekst {
  color: light-dark(#333b3c, #efefec);
}
.start {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#PirTekstas {
  font-size: 300%;
}
#content1 {
  height: 100%;
  margin: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(3, 12%);
}
.senuProjektuDezute {
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  color: light-dark(#edf1f1, #efefec);

  border: light-dark(#1a251f, #efedea);
  border-style: groove;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  transition: 0.2s;
  box-shadow: 5px 10px 10px light-dark(#1a251f, #303030);
}
.senuProjektuDezute:hover {
  height: 160%;
  filter: blur(0);
  z-index: 2;
}
#content2 {
  height: 100%;
  margin: 5%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(9, 11.11%);
  grid-template-rows: repeat(10, 10%);
}
.pitonoKodoDezute {
  background-color: rgb(79, 129, 196);
  height: 100%;
  transition: 0.2s;
  box-shadow: 5px 10px 100px light-dark(#30443e, #303030);
  border: light-dark(#3e8b89, #efedea);
  border-style: groove;
}
.pitonoKodoDezute:hover {
  height: 120%;
}
#content3 {
  height: 100%;
  display: grid;
  margin: 5%;

  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
.svetainesDezute {
  background-color: light-dark(#f06529, #e34c26);
  margin: 2px;
  height: 100%;
  transition: 0.2s;
  box-shadow: 5px 10px 50px light-dark(#2b1811, #24100b);
  border: light-dark(#e34c26, #f06529);
  border-style: solid;
}
.svetainesDezute:hover {
  height: 120%;
}
footer {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(1, 10%);
  height: 20%;
  background-color: light-dark(#d6d6d6, #1e2c25);
}
hr {
  margin: 60px;
}

.iStart {
  text-decoration: none;
  grid-row: 3/4;
  grid-column: 10/11;
  color: light-dark(#333b3c, #efefec);
  font-size: xx-large;
}
.iStart:hover {
  text-decoration: underline;
}
.atgalIVieta {
  grid-column: 1/-1;
}
h1,
h2,
p,
h3 {
  font-family: Helvetica;
}
.credit {
  grid-row: 3/4;
  grid-column: 2/4;
}
.naviguoti {
  font-size: xx-large;
  scroll-margin-top: 50px;
}

.navTekstas {
  margin: 5px;
  color: light-dark(#003530bb, #f7f6f6);
  text-decoration: none;
}
.navTekstas:hover {
  color: light-dark(#000000, #6cb1ff);
  /* font-size: 150%; */
  text-decoration: underline;
}
.apMa {
  height: 60%;
  margin: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 30% 5%;
}
.lipNav {
  position: sticky;
  top: 0;
  /* margin: 10px; */
  background-color: light-dark(#cbcccb, #223f1f);
  /* flex-direction: column; */
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 50;
}
@media (500px <= width) {
  .lipNav {
    /* height: 150px; */
  }
}
