/* html, */
body {
    height: 100%;

}

* {
    margin: 0;
}

header {

    position: fixed;
    background-color: rgb(233, 233, 233);
    z-index: 100;
    border-radius: 20px 20px;
    margin-top: -7%;

}

.foteris {
    /* width: 100vw; */
    position: relative;
    margin: -50px;
    /* top: 100%; */
    background-color: rgb(233, 233, 233);

}

button:hover{
    opacity: 0.7;

}
.fot_teks{
    text-align: right;

}
.kontentas{
    position: relative;
    margin: 3%;
    margin-top: 8%;
}
.katimg{
    width: 17%;
    border-radius: 70px 20px;
    transition: width 2s;
/* height: 20%; */

}
.katimg:hover{
    width: 20%;
}
.katimg:active{
    width: 40%;
}
.btn{opacity: 0.2;
    width: auto;
    /* border: 5px solid red; */
    margin-left: 25%;
    transition:  1s;
    button{
    margin: auto;

    /* visibility:hidden; */
    width: 100px;
    height: 5vh;
    opacity: 1;

    background-color: rgb(119, 119, 119);
    transition:  1s;
    }
    
}
button:hover{
    opacity: 0.7;
}
header:hover{
    .btn{
        opacity: 1;
    }
    /* button{
        visibility: visible;
    } */
    
}

.prieshederi{
    /* position: absolute; */
    .btn{
        /* visibility: hidden; */
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        height: 0px;
    }
    margin:auto;
    background-color: rgb(233, 233, 233);
    z-index: 101;
    width: 35%;
  


    
} 
.prieshederi:hover{
    .btn{
        height: 5vh;
        /* visibility: visible; */
        opacity: 1;
    }
}
